*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container1{
    background-color:#F5F5F5;
    background-size: 100%;
    min-height: 100px;  
}
.block1{
    padding: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p{
    letter-spacing: -0.03em;
    font-size: 1.5rem;
    margin: 1px;
}
h1{
    color: #295965;
}
/*---------- start container2------------------------------*/
.container2{
    background-color:  #295965;
    background-size: 100%;
    min-height: 800px;  
}
.block2{
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.whiteH1{
    color: white;
    font-size: 1.5rem;
}
/* -------end container2 ---------------------------------------*/
.container3{
    background-color:#F5F5F5;
    background-size: 100%;
    min-height: 575px;  
}
.block3{
    padding: 100px;
    display: flex;
    align-items: center;
}

/* -------end container3 ---------------------------------------*/
.container4{
    background-color:  #295965;
    background-size: 100%;
    min-height: 675px;  
}
.c4b3code{
    color: white;
}
.cbd4a{
    position: relative;
    display: block; 
    
}
.cbd4c{
    position: relative;
    left: 70px;
}

.code{
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 13px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color:#F5F5F5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;    
}
#commit1{
    height: 340px;
    width: 500px;
}
#commit2{
    height: 250px;
    width: 550px;
}
.h3white{
    color:#F5F5F5;
}
.green{
    color: rgb(0, 181, 165);

}
.gray{
   color: gray;
   font-size: 1rem;
}
.codeGreen{
    color: rgb(0, 181, 165);

}
